altgraph==0.17.4
Babel==2.3.4
blivet==3.7.1
blivet-gui==2.4.2
Brlapi==0.7.0
cairocffi==1.1.0
CairoSVG==2.7.0
caja-extensions-redsoft==1.4.4
certifi==2024.2.2
cffi==1.13.2
charset-normalizer==2.0.7
configobj==5.0.8
configshell-fb==1.1.28
cryptography==42.0.5
cssselect2==0.3.0
cupshelpers==1.0
dasbus==1.3
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
distro==1.5.0
dnspython==2.2.1
et-xmlfile==1.1.0
greenlet==3.0.3
gssapi==1.7.3
idna==3.7
importlib_metadata==7.1.0
initial-setup==0.3.84
ipaclient==4.10.3
ipalib==4.10.3
ipaplatform==4.10.3
ipapython==4.10.3
Jinja2==3.1.3
jwcrypto==1.5.6
kmod==0.1
langtable==0.0.53
libcomps==0.1.15
lxml==5.2.2
MarkupSafe==2.1.1
netaddr==0.7.19
netifaces==0.10.4
nftables==0.1
olefile==0.45.1
onboard==1.4.1
openpyxl==3.1.3
packaging==24.0
perf==0.1
pid==2.2.3
Pillow==9.5.0
ply==3.11
productmd==1.33
psutil==5.9.1
pwquality==1.4.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.23.0
pycparser==2.14
pycups==2.0.1
pycurl==7.43.0.2
pydbus==0.6.0
PyGObject==3.44.1
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.4
pykickstart==3.30
pyOpenSSL==24.1.0
pyparsing==2.4.7
pyparted==3.12.0
PyQt5==5.15.9
PyQt5_sip==12.11.0
pysmbc==1.0.23
PySocks==1.7.1
pystray==0.17.1
python-augeas==0.5.0
python-dateutil==2.8.1
python-docx==1.1.2
python-gettext==4.0
python-ldap==3.1.0
python-linux-procfs==0.6.1
python-manatools==0.0.3
python-meh==0.48
python-xlib==0.33
python-yubico==1.3.2
pytz==2022.1
pyudev==0.21.0
pyusb==1.0.0b1
pyxdg==0.28
PyYAML==5.4.1
qrcode==7.3.1
redoswelcome==1.13.6
reportlab==3.6.12
requests==2.26.0
requests-file==1.4.3
requests-ftp==0.3.1
rpm==4.18.2
rtslib-fb==2.1.76
schedutils==0.6
selinux==2.9
sepolicy==1.1
setools==4.3.0
setproctitle==1.2.3
setroubleshoot==1.1
share_directory==6.3.4
simpleline==1.6
six==1.16.0
slip==0.6.4
slip.dbus==0.6.4
SQLAlchemy==2.0.29
SSSDConfig==2.8.2
systemd-python==232
targetcli-fb==2.1.53
terminator==2.0.1
tinycss2==1.0.2
typing_extensions==4.11.0
urllib3==1.26.20
urwid==2.0.1
webencodings==0.5.1
wrapt==1.12.1
xcffib==0.9.0
zipp==3.18.1
